<!DOCTYPE html>
<html>
    <head>
        <title>Document List</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include('header'); %><h1>Liste de tout les documents</h1>
        <table class="table_af">
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Rang</th>
            </tr>
                        <%
                            var list = '';
                            for (i = 0; i < documentlist.length; i++) {
                                list += '<tr><td>' + documentlist[i].fields['titre_avec_lien_vers_le_catalogue'] + '</td> <td>' + documentlist[i].fields['auteur'] + '</td><td>' + documentlist[i].fields['rang'] + '</td></tr>';
                            }
                        %>
                        <%- list %>
        </table>
    </body>
</html>