<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, World ! Welcome to <%= title %></p>
    <ul>
      <li><a href="mailto:testuser1@testdomain.com">testuser1</a></li>
      <li><a href="mailto:testuser2@testdomain.com">testuser2</a></li>
      <li><a href="mailto:testuser3@testdomain.com">testuser3</a></li>
    </ul>
  </body>
</html>
